temp_images/
stored_images/
.encodings_cache.pkl
.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.md
*.log
*.sqlite
*.db
datasets/
videos/
*.h5
*.pth
*.tar
*.zip
*.npy
*.npz
*.csv
test/
tests/
.git/
.DS_Store

.ipynb_checkpoints/
*.pkl
outputs/
saved_models/
checkpoints/
*.ckpt
*.joblib
*.model
*.exe
*.dll
*.lib
*.bak
*.old
.vscode/
.idea/